<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE struts PUBLIC
    "-//Apache Software Foundation//DTD Struts Configuration 2.5//EN"
    "http://struts.apache.org/dtds/struts-2.5.dtd">
<struts>
	<!-- 	默认命名空间 -->
	<package name="config" namespace="" extends="struts-default" >
		<action name="default">
			<result>/config_suc.jsp</result>
		</action>
	</package>
	<!-- 	根命名空间 ：可以访问根命名空间-->
	<package name="root" namespace="/" extends="struts-default" >
		<action name="root">
			<result>/config_suc.jsp</result>
		</action>
	</package>
	<!-- 	非默认命名空间 ，可以访问默认命名空间，不可以访问根命名空间-->
	<package name="undefault" namespace="/stu" extends="struts-default" >
		<action name="stu">
			<result>/config_suc.jsp</result>
		</action>
	</package>
</struts>