<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
	<properties>
		<!-- 		${sys:catalina.home}等价于System.getProperty("catalina.home") -->
		<!-- 		就是Tomcat的根目录：  C:\apache-tomcat-7.0.77 -->
		<property name="log.home" value="${sys:catalina.home}/logs/" />
		<property name="log.home" value="E:/logs/" /> 
 		<property name="app.name">no3</property>
		<property name="log.file.name" value="${log.home}\${app.name}.log" />
		<!-- %t:当前线程名称   %-5level:日志级别，-5表示左对齐并且固定输出5个字符，如果不足在右边补0 -->
		<!-- %c{1}:类名  %L:输出行号  %msg:日志文本  %n:换行 -->
		<!-- 其他常用的占位符有： -->
		<!-- %F:输出所在的类文件名  %M:输出所在方法名 -->
		<property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - %l{36}-%msg%n</property>
	</properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<!-- 		文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定 -->
		<File name="file" fileName="${log.file.name}" append="true">
			<PatternLayout pattern="${pattern}" />
		</File>
<!-- 				控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
		<File name="error" fileName="${log.home}/no1-error.log">
			<ThresholdFilter level="error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${pattern}" />
		</File>
		 <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
		<RollingFile name="rollingFile" fileName="${log.home}/${app.name}.txt"
			filePattern="${log.home}/${app.name}-%d{yyyyMMdd}-%i.txt">							
			<PatternLayout pattern="${pattern}" />
<!-- 			基于时间的滚动策略 -->
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="20KB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	  <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效-->
	<Loggers>
		<!-- 	name加包名 -->
		<logger name="international.demo" level="error" additivity="true">
<!-- 			<appender-ref ref="console" /> -->
			<appenderRef ref="file" />
<!-- 			<appenderRef ref="error" /> -->
<!-- 			<appenderRef ref="rollingFile" /> -->
		</logger>
<!-- 		<logger name="com.opensymphony.xwork2" level="debug" /> -->
		<Root level="error">
			<appenderRef ref="console" />
		</Root>
	</Loggers>
</configuration>